.carousel {
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 33.33%;
}

.carousel-item:hover .imagenCategory
{
    filter: brightness(50%);
}

.carousel-item:hover .informationCategory
{
    opacity: 1;
}

